/*Text*/
.text {
  font-size: 16px;
  --font-size: 16px;
  padding: 10px;
  padding-top: 0;
  --highlight-color-focused: var(--ion-custom-gray5);
  /*color: var(--ion-custom-gray3);*/
}
.big-text {
  font-size: 20px;
  text-align: center;
}
.small-text {
  font-size: 14px;
  text-align: center;
  color: var(--ion-custom-gray6);
}
.plain-text {
  text-transform: none;
}
.highlight {
  --highlight-color-focused: var(--ion-custom-gray5);
}